<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>工具列表</h1>
    <hr>
    <ul>
      <li><a href="/base64">base64编解码</a></li>
    </ul>
  </body>
</html>
